*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{ 
    height: auto;
    background-image: url(/image/bg.jpg);
    background-size: 101%;
} 
section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 0 0 10px #089da1;
    background: #fff;
    left: 0;
    z-index: 100;
}
section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}
section nav ul{
    list-style: none;
}
section nav li{
    display: inline-block;
    padding: 0;
    margin: 10px;
}
section nav li a{
    text-decoration: none;
    color: #000;
}
section nav li a:hover{
    color: #089da1;
}
section nav .social_icon i{
margin: 0 5px;
font-size: 18px;
}
section nav .social_icon i:hover{
    color: #089da1;
    cursor: pointer;
}
section Search
{
    margin: 0 5px;
    font-size: 18px;
}
.main {
    text-align: center;
    margin-top: 2%;
    font-size: 34px;
}
section.slideShowContainer {
    width: 20vw;
    box-shadow: 15px 80px 60px rgb(77, 72, 72);
    position: absolute;
    margin-top: 3%;
}
.slideShowBillede {
    width: 18vw;
    height: 50vh;
    margin-left: 41%;
}
.prev, .next {
    cursor: pointer;
    top: 40%;
    color: white;
    font-weight: bold;
    font-size: 100px;
    color: #089da1;;
}
.prev {
    position: absolute;
    top: 47%;
    left: 32%;
}
.next {
    position: absolute;
    top: 47%;
    left: 65%;
    border-radius: 3px 0 0 3px;
}
.bogtitel {
    text-align: center;
    margin-top: 2%;
    font-size: 36px;
}
.dots {
    text-align: center;
}
.currentdots {
    height: 30px;
    width: 30px;
    margin: 0 0.5%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 1.4vh;
    cursor: pointer;
}
.active, .dot:hover {
    background-color: #089da1;;
}