Logo {color:firebrick; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large; 
    font-weight: bolder; 
    font-style: italic; 
    text-align: center;}