body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(245,98,27,1) 0%, rgba(246,236,178,1) 100%); 
    }
Logo {color:firebrick; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: xx-large; 
    font-weight: bolder; 
    font-style: italic; 
    text-align: center;
    }